@font-face {
	font-family:UbuntuMono-B;
	src:url(fonts/UbuntuMono-B.woff);
}
@font-face {
	font-family:OpenDyslexicAlta-Bold;
	src:url(fonts/OpenDyslexicAlta-Bold.otf);
}
@font-face {
	font-family:FreeSansBold;
	src:url(fonts/FreeSansBold.otf);
}
