
body {
  color:#808080;
font-family:UbuntuMono-B;
}

th, td {
  border:solid 1px silver; 
  color:#808080;
 
}

 h1, section> h2:first-child, th, li.main , li.mother{ 
  color:#0080c0;
font-family:OpenDyslexicAlta-Bold;
  font-weight:bold;
}
h2,
h4,
h3,
h5,
h6 {
  color:#ff8040;
font-family:FreeSansBold;
  font-weight:normal
}
blockquote:before {
  color:#808080;
 
}
blockquote {
  border-left:solid 0.75rem #0080c0;
  background:#efefef;
}
th {
  background:#efefef ;
}