body {
  color:#3B663E;
  font-family:'FreeSerif';
}

th, td {
  border:solid 1px silver; 
  color:#6AA6CE; 
}

 h1, section> h2:first-child, th, li.main , li.mother{ 
  color:#61AB30; 
font-family:'FreeSansBold';
  font-weight:bold;
}
h2,
h4,
h3,
h5,
h6 {
  color:#7BD61A;
  font-family:'FreeSansBold';
  font-weight:normal
}
blockquote:before {
  color:#6AA6CE;
}
blockquote {
  border-left:solid 0.75rem #7BD61A;
  background:#efefef;
}
th {
  background:#efefef ;
  }
  