@font-face {
  font-family: 'FreeSerif';
  src: url('fonts/FreeSerif.otf');
}
@font-face {
  font-family: 'FreeSansBold';
  src: url('fonts/FreeSansBold.otf');
}

@font-face {
  font-family:'Roboto-Bold';
  src:url('fonts/Roboto-Bold.ttf');
}

