body {
  color:#555;
  font-family:'OpenDyslexicAlta-Regular';
  padding:0 3rem;
}

th, td {
  border:solid 1px silver; 
  color:#6AA6CE; 
}

 h1, section> h2:first-child, th, li.main , li.mother{ 
  color:#57C00A; 
  font-family:'OpenDyslexicAlta-Regular';
  font-weight:bold;
}
h2,
h4,
h3,
h5,
h6 {
  color:#4fa9f2;
  font-family:'OpenDyslexicAlta-Regular';
  font-weight:normal
}
blockquote:before {
  color:#6AA6CE;
}
blockquote {
  border-left:solid 0.75rem #57C00A;
  background:#efefef;
}
th {
  background:#efefef ;
  }
  
 