@font-face {
  font-family: 'FreeSerif';
  src: url('fonts/FreeSerif.otf');
}
@font-face {
  font-family: 'FreeSansBold';
  src: url('fonts/FreeSansBold.otf');
}
@font-face {
  font-family: 'Ubuntu Mono Bold';
  src: url('fonts/UbuntuMono-B.ttf');
}
